.message{"data-messageid": "#{message.id}"}
  .upper-info
    %p.upper-info__user 
      = message.user.name
    %p.upper-info__date
      = message.created_at.strftime("%Y/%m/%d %H:%M")
  - if message.content.present?
    %p.lower-message__content
      %p.message__text
        = message.content
      = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
