.wrapper
  .chat-side
    .side-header
      %p.side-header__user-name
        = current_user.name
      %ul.user-menu
        %li.user-menu__edit-user 
          = link_to edit_user_path(current_user) do
          
            %i.fa.fa-cog 
        %li.user-menu__new-group
          = link_to new_group_path do
            %i.fa.fa-edit
            
    
   
    = render partial:"layouts/groups"

  .chat-main
    .main-header
      .current-group{"data-group_id" => "3"}
        %h2.current-group__name
          = @group.name
        .member-list__member 
          %ul.member-list
            Member：
            = @users.name
      = link_to edit_group_path(@group) do
        .main-header__edit-btn Edit,

  .messages{"data-message_id" => "759"}
    = render partial: 'message', collection: @messages
 
  .form
    = form_for [@group, @message] do |f|
      .input-box
        = f.text_field :content, class: "input-box__text", placeholder: "type a message"
        = f.label :image, class: 'image-label' do
          %i.fa.fa-image
          = f.file_field :image, class: 'image-label__input'
      = f.submit 'Send', class: 'new_message__submit-btn'

 

  -# .messages{"data-message_id" => "759"}
  -#   .upper-info
  -#     %p.upper-info__user ppp
  -#     %p.upper-info__date  99999999
  -#     %p.message__text ppp
